version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: alpha_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: alpha_grafana
    ports:
      - "3000:3000"
    environment:
      # Если переменные в .env не заданы, применятся значения после ':-'
      - GF_SECURITY_ADMIN_USER=${GF_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_ADMIN_PASSWORD:-admin_password123}
    networks:
      - monitoring

  node-exporter:
    image: prom/node-exporter:latest
    container_name: alpha_node_exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/plugins|rootfs/var/lib/docker/volumes)($$|/)"
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge